<!--used ngModel for two way binding between component and view
 Lessson learnt: need to have a name attribute when using ngModel-->

<div *ngIf="product" class="details">
  <form>
    <div class="form-group">
      <label for="prodId"><span>Product Id</span><input type="text"
        class="form-control" id="prodId" name="prodId" [(ngModel)]="product.id" disabled></label>
    </div>
    <div class="form-group">
      <label for="prodName"><span>Product</span><input type="text"
       class="form-control" id="prodName" name="prodName" [(ngModel)]="product.productName"></label>
    </div>
    <div class="form-group">
      <label for="prodPrice"><span>Price (in ₹)</span><input type="text"
        class="form-control" id="prodPrice" name="prodPrice" [(ngModel)]="product.buyPrice"></label>
    </div>
    <div class="form-group">
      <label for="prodDescr"><span>Description</span><textarea
        class="form-control" id="prodDescr" name="prodDescr" [(ngModel)]="product.productLine" rows="3"></textarea></label>
    </div>
  </form>

  <!--buttons: Back, Update and Delete to go back, save changes and delete a product, respectively -->
  <br>
  <button type="button" class="btn btn-primary" (click)="back()">Back</button>
  <button type="button" class="btn btn-primary" (click)="updateProduct()">Update</button>
  <button type="button" class="btn btn-primary" (click)="deleteProduct()">Delete</button>
</div>
